<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href="/stylesheets/style.css">
</head>
<body>
  <h1 style="margin-left : 15px">Project Management System</h1>
  <form action="" method="post">
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="logemail" name="logemail" placeholder="Email address">
      <input type="password" class="form-control form-control-lg" id="logpass" name="logpass" placeholder="Password">
        <div style="padding-top: 20px" class="">
          <input type="checkbox" name="rememberme" value=""><label for="rememberme"><b style="margin-left: 10px">Remember me</b></label>
        </div><br>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
    </div>
  </form>
</body>
</html>
