<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Cannot find specified user!</h1><br>
    <div class="row">
      <div class="col-md-6">
        <a style="margin-left: 10px" href="register" class="btn btn-primary btn-lg btn-block" id="reg">Register</a>
        <a style="margin-left: 10px" href="/" class="btn btn-success btn-lg btn-block" id="reg">Leave</a>
      </div>
    </div>
  </body>
</html>
