<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-bookmark"></span> <b>Welcome to Dashboard</b>
          </div>
          <div class="panel-body">
            <a href="/line" class="btn btn-danger btn-lg btn-block line">
              <span class="glyphicon glyphicon-signal"></span>
              <h6 class="title">Line</h6>
            </a>
            <a href="/pie" class="btn btn-warning btn-lg btn-block">
              <span class="glyphicon glyphicon-cd"></span>
              <h6 class="title">Pie</h6>
            </a>
            <a href="/bar" class="btn btn-primary btn-lg btn-block">
              <span class="glyphicon glyphicon-stats"></span>
              <h6 class="title">Bar</h6>
            </a>
            <a href="/map" class="btn btn-success btn-lg btn-block">
              <span class="glyphicon glyphicon-globe"></span>
              <h6 class="title">Maps</h6>
            </a>
            <a href="/login" class="btn btn-info btn-lg btn-block">
              <span class="glyphicon glyphicon-user"></span> <b>Admin Panel</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>

</html>
